body{
  background: #045e0c;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  color: #fff;
  min-height: 1000px;
  letter-spacing: .6px;
}
.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
header{
  text-align: center;
}
header h1{
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
}

header p{
  line-height: 26px;
  font-weight: 300;
  padding: 0 130px;
}

nav{
  display: inline-block;
  width: 100%;
  border-top: 1px solid;
}

nav ul{
  padding-left: 0;
}

nav ul.left{
  float: left;
}

nav ul.right{
  float: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

nav ul li:last-child{
  margin-right: 0;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
}

.autoplay_btn{
  display: flex;
  align-items: center;
}
.autoplay_btn h5{
  margin: 0;
  font-weight: 500;
}
.autoplay_btn span{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  border: 2px solid #469208;
  border-radius: 50px;
  margin-left: 5px;
  transition: all ease 0.5s;
}
.autoplay_btn span::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  background: rgb(80, 150, 11);
  border-radius: 50px;
  top: 3px;
  left: 4px;
  transition: all ease 0.5s;
}

.autoplay_btn input:checked ~ span{
  border-color: chartreuse;
  box-shadow: 0 5px 25px rgb(102, 255, 202 / .5), 0 0 rgb(102, 255, 155 / .5);
  background: rgb(25, 99, 51);
}

.autoplay_btn input:checked~span::before{
  left: 36px;
  box-shadow: 0 5px 25px rgb(102, 255, 202 / .5), 0 0 rgb(102, 255, 155 / .5);
  background: rgb(114, 219, 8);
}

.autoplay_btn input{
  display: none;
}

.body_content{
  margin-top: 30px;
}

.body_content .title{
  align-items: center;
  height: 50px;
  background: #469208;
  color: #fff;
  padding-left: 20px 5px;
  border-radius: 10px;
  display: flex;
}

.body_content .title span{
  font-size: 20px;
}

.body_content .title span:nth-child(1),
.body_content .list_block span:nth-child(1){
  width: 8%;
}

.body_content .title span:nth-child(2),
.body_content .list_block span:nth-child(2){
  width: 30%;
}

.body_content .title span:nth-child(3),
.body_content .list_block span:nth-child(3){
  width: 16%;
}

.body_content .title span:nth-child(4),
.body_content .list_block span:nth-child(4){
  width: 16%;
}

.body_content .title span:nth-child(5),
.body_content .list_block span:nth-child(5){
  width: 10%;
}

.body_content .title span:nth-child(6),
.body_content .list_block span:nth-child(6){
  width: 10%;
}

.body_content .list_block{
  position: relative;
  padding: 20px 5px;
  margin: 10px;
  background: hsl(113, 77%, 12%);
  border: 1px solid transparent;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.body_content .list_block span{
  font-size: 16px;
  font-weight: 400;
}

.body_content .list_block .download_btn{
  position: absolute;
  right: 30px;
}

.body_content .list_block .download_btn:hover{
  opacity: .7;
}

/* Animation du track*/
.body_content .beat_animation ul{
  padding: 0;
  margin: 0;
  text-align: center;
}
.body_content .beat_animation ul li{
  list-style: none;
  height: 45px;
  width: 3px;
  background: #fff;
  display: inline-block;
  margin:0 5px;
  transform-origin: bottom;
  opacity: .1;
  animation: beat 1s linear 0s infinite;
  animation-play-state: paused;
}
@keyframes beat {
  50%{
    transform: scaleY(0);
  }
}

.body_content .beat_animation li:nth-child(1){
  animation-delay: .2s;
}

.body_content .beat_animation li:nth-child(2){
  animation-delay: .4s;
}
.body_content .beat_animation li:nth-child(4){
  animation-delay: .3s;
}

.body_content .list_block.isPlaying{
  border: 1px solid #469208;
  box-shadow: 0 5px 25px #4a831b, 0 0 15px #09f11d;
}

/* Bouton de lecture */
.body_content span.play_btn{
  text-align: center;
}

.body_content span.play_btn img{
  cursor: pointer;
  border-radius: 50px;
  transition: all ease 0.5s;
}

.body_content span.play_btn .pause_icon{
  display: none;
}

.body_content .list_block.isPlaying span.play_btn img{
  box-shadow: 0 5px 15px #135277, 0 0 15px #2d3979;
}

/* Hide audio track */
.body_content .list_block .track{
  display: none;
}

@media (max-width: 850px) {

  header h1{
    font-size: 40px;
    font-weight: 400;
  }

  header p{
    padding: 0;
  }

  .body_content .title span{
    font-size: 15px;
  }

  .body_content .list_block{
    width: 90%;
  }

.body_content .title span:nth-child(1),
.body_content .list_block span:nth-child(1){
  width: 18%;
  text-align: center;
}

.body_content .title span:nth-child(2),
.body_content .list_block span:nth-child(2){
  width: 40%;
}

.body_content .title span:nth-child(3),
.body_content .list_block span:nth-child(3){
  text-align: center;
  width: 30%;
}

.body_content .title span:nth-child(4),
.body_content .list_block span:nth-child(4){
  text-align: center;
  width: 28%;
}

.body_content .title span:nth-child(5),
.body_content .list_block span:nth-child(5){
  text-align: center;
  width: 25%;
}

.body_content .title span:nth-child(6),
.body_content .list_block span:nth-child(6){
  width: 30%;
}

.body_content .list_block span{
  font-size: 14px;
  font-weight: 300;
}

img{
  width: 50px;
}
#down{
  width: 5px;
  right: 5px;
}
}
